body {
    width: 1296px;
    margin: 0;
    
}

.feature-section {
    width: 1168px;
    display: flex;
}

.image-and-card {
    position: relative;
    width: 664px;
}
.feature-image {
    position: relative;
    width: 598px;
    margin-top: 31px;
    left: 136px;
}
.card-wrapper {
    position: absolute;
    top: 335px;
    left: 596px;
    width: 204px;
    height: 277px;
    background-color: #fff;
    border-radius: 12px 0 0 0;
    border: 2px solid white;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.card-text {
    font-family: 'Inter', sans-serif;
    top: 365px;
    left: 629px;
    color: #2E2E2E;
    text-align: center;
}
.card-info {
    margin-top: 1px;
    font-family: 'Inter', sans-serif;
    color: #A5A4A4;
    text-align: center;

}

.card-rating {
    display: flex; 
    align-items: center; 
    margin-top: 100px;    
}

.card-icon {
    color:  #FDC55E;
    width: 16px;
    margin-right: 8px; 
}

.card-rating-point {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400; 
    line-height: 16px; 
}

.strawberry-card {
    position: absolute;
    top: 120px; 
    left: 50%;
    transform: translateX(-50%);
    width: 136px;
}
.add-to-cart-button {
    position: absolute;
    left: 150px; 
    top: 250px; 
    background: #F54748;
    color: #fff;
    border: none;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.strawberry-piece {

    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 700;
}



.feature-content {
    font-family: 'Poppins', sans-serif;
    width: 394px;
    height: 372px;
    position: absolute;
    top: 265px;
    right: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px 0 0 0;
}

.feature-title {
    font-family: 'Poppins', sans-serif;
    color: #03A66B;
    margin: 0;
}

.paragraph {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
}

.feature-info {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.feature-button {
    width: 201px;
    height: 70px;
    border-radius: 12px;
    background-color: #F86061;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
